
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  }

 .container#collapsable-nav{
 	background-color: #f6b319;
 	border:2px solid #fff;
 }

 #nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a{
  font-size: 1.8em;
}

.para{
	background-color: grey;
	border:2px;
	padding: 2px;
	height: 1000px;
}
.design{
	font-weight: bold;
	font-size: 20px;
}